<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete page</title>
</head>
<body>

<p>Are you sure to delete <span th:text="${username}"/>?</p>
    <form th:action="@{/admin/delete?id={id}(id=${id})}" method="post">
        <button>YES</button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    </form>

    <form action="/admin/table" method="get">
        <button>NO, BACK TO TABLE</button>
    </form>

</body>
</html>