<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
</head>
<body>

<p><a href=/admin/table>Back to table</a></p>


    <form th:action="@{/admin/edit}" th:object="${user}" method="post">
        <p>ID: <input type="text" name="id" th:value="*{id}" readonly></p>
        <p>Username: <input type="text" name="username" th:value="*{username}" required></p>
        <p>Password: <input type="password" name="password" th:value="*{password}"></p>
        <p>Confirm password: <input type="password" name="confirmPassword" th:value="*{confirmPassword}"></p>
        <p>Role:
            <input th:each="role : ${allRoles}" th:if="${user.roles.contains(role)}" type="checkbox" th:name="${role.name}" th:value="${role.name}"  th:text="${role.name}" checked>
            <input th:each="role : ${allRoles}" th:if="${!user.roles.contains(role)}" type="checkbox" th:name="${role.name}" th:value="${role.name}"  th:text="${role.name}"></p>
        <p><input type="submit" name="SUBMIT" value="CHANGE USER"></p>

        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    </form>

</body>
</html>