<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info page</title>
</head>
<body>

    <p>ID: <span th:text="${user.id}"/></p>
    <p>Username: <span th:text="${user.username}"/></p>
    <p>Role: <li th:each="authority : ${user.authorities}" th:text="${authority.name.substring(5)}"/> </p>
    <p>Account non expired: <span th:text="${user.accountNonExpired}"/></p>
    <p>Account non locked: <span th:text="${user.accountNonLocked}"/></p>
    <p>Account non expired: <span th:text="${user.accountNonExpired}"/></p>
    <p>Account enabled: <span th:text="${user.enabled}"/></p>

</body>
</html>