<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">

    <title>
        Main page
    </title>

</head>
<body>

    <!--Navigation bar-->
    <nav class="navbar bg-dark" style="color:white">
        <div>
            <b th:text="${authUser.username}"/>
             with roles:
            <th th:each="authority : ${authUser.authorities}" th:text="${authority.name.substring(5).concat(' ')}"/>
        </div>
        <div>
            <form action="/logout">
                <button class="btn btn-outline-danger">
                    LOGOUT
                </button>
            </form>
        </div>
    </nav>

    <!--Buttons "Admin panel", "User info" and their tabs-->
    <div class="row">
        <div class="col-2">
            <div class="list-group">
                <!--Button "Admin panel"-->
                <th th:if="${isAdmin}">
                    <a class="list-group-item active" data-toggle="list" href="#admin-panel">Admin Panel</a>
                </th>
                <!--Button "User info"-->
                <th th:if="${isUser}">
                    <a class="list-group-item" data-toggle="list" href="#user-info-panel">User info</a>
                </th>
            </div>
        </div>
        <!--Tabs-->
        <div class="col" style="background: #eeeeee">
                <div class="tab-content">
                    <!--Tab "Admin panel"-->
                    <div th:if="${isAdmin}" class="tab-pane fade show active" id="admin-panel">
                        <h1 class="card-title">Admin panel</h1>
                        <!-- Buttons for tabs "Users table" & "New user"-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a id="usersTableTabBtn" class="nav-link active" data-toggle="tab" href="#users-table-tab" aria-selected="true">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a id="addNewUserTabBtn" class="nav-link" data-toggle="tab" href="#new-user-tab" aria-selected="false">New user</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!--Tab "Users table"-->
                            <div class="tab-pane fade show active" id="users-table-tab">
                                <b><h4 class="card-header">All users</h4></b>
                                <!--Users table-->
                                <div class="card">
                                    <table id="users-table" class="table">
                                        <thead>
                                            <tr align="center">
                                                <th>ID</th>
                                                <th>Username</th>
                                                <th>Roles</th>
                                                <th>Account non expired</th>
                                                <th>Account non locked</th>
                                                <th>Credentials non expired</th>
                                                <th>Account enabled</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody align="center"></tbody>
                                    </table>
                                </div>
                            </div>
                            <!--Tab "New user"-->
                            <div class="tab-pane fade" id="new-user-tab"  align="center">
                                <b><h4 class="card-header" align="left">Add new user</h4></b>
                                <div class="card col-2" align="center">
                                    <form id="addUserForm">
                                        <div class="form-group">
                                            <label for="addUsername" style="font-weight: bold">Username</label>
                                            <input id="addUsername" type="text" name="username" class="form-control" placeholder="Enter username">
                                        </div>
                                        <div class="form-group">
                                            <label for="addPassword" style="font-weight: bold">Password</label>
                                            <input id="addPassword" type="password" name="password" class="form-control" placeholder="Enter password">
                                        </div>
                                        <div class="form-group">
                                            <label for="addConfirmPassword" style="font-weight: bold">Confirm password</label>
                                            <input id="addConfirmPassword" type="password"  name="confirmPassword" class="form-control" placeholder="Re-enter password">
                                        </div>
                                        <div class="form-group">
                                            <label for="addAuthorities" style="font-weight: bold">Choose roles:</label>
                                            <select id="addAuthorities" name="authorities" class="custom-select" multiple>Select Roles:
                                                <option th:each="authority : ${allAuthorities}" th:value="${{authority}}" th:text="${authority.name.substring(5)}"/>
                                            </select>
                                        </div>
                                        <div class="custom-control custom-switch" align="left">
                                            <input id="addAccountNonExpired" name="accountNonExpired" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="addAccountNonExpired" style="font-weight: bold">Is account non expired</label>
                                        </div>
                                        <div class="custom-control custom-switch" align="left">
                                            <input id="addAccountNonLocked" name="accountNonLocked" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="addAccountNonLocked" style="font-weight: bold">Is account non locked</label>
                                        </div>
                                        <div class="custom-control custom-switch" align="left">
                                            <input id="addCredentialsNonExpired" name="credentialsNonExpired" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="addCredentialsNonExpired" style="font-weight: bold">Is credentials non expired</label>
                                        </div>
                                        <div class="custom-control custom-switch" align="left">
                                            <input id="addEnabled" name="enabled" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="addEnabled" style="font-weight: bold">Is enabled</label>
                                        </div>
                                        <div>
                                            <button id="addUserBtn" type="button" class="btn btn-outline-success">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tab "User info"-->
                    <div  th:if="${isUser}" class="tab-pane fade show" id="user-info-panel">
                        <!--User info table-->
                        <div class="card">
                            <table class="table" id="info-user-table">
                                <thead>
                                    <tr align="center">
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Roles</th>
                                        <th>Account non expired</th>
                                        <th>Account non locked</th>
                                        <th>Credentials non expired</th>
                                        <th>Account enabled</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr align="center" th:object="${authUser}">
                                        <td th:text="*{id}"/>
                                        <td th:text="*{username}"/>
                                        <td><div th:each="authority : *{authorities}" th:text="${authority.name.substring(5)}"/></td>
                                        <td>
                                            <form>
                                                <input type="checkbox" disabled th:if="*{accountNonExpired}" checked>
                                            </form>
                                        </td>
                                        <td>
                                            <form>
                                                <input type="checkbox" disabled th:if="*{accountNonLocked}" checked>
                                            </form>
                                        </td>
                                        <td>
                                            <form>
                                                <input type="checkbox" disabled th:if="*{credentialsNonExpired}" checked>
                                            </form>
                                        </td>
                                        <td>
                                            <form>
                                                <input type="checkbox" disabled th:if="*{enabled}" checked>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!--Modal window for User-->
    <div class="modal fade" id="user-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                    <form id="user-form">
                        <div class="form-group">
                            <label for="user-id" style="font-weight: bold">ID</label>
                            <input type="text" class="form-control" id="user-id" name="id">
                        </div>
                        <div class="form-group">
                            <label for="user-username" style="font-weight: bold">Username</label>
                            <input type="text" class="form-control" id="user-username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="user-password" style="font-weight: bold">Password</label>
                            <input type="password" class="form-control" id="user-password" name="password">
                        </div>
                        <div class="form-group">
                            <label for="user-confirmPassword" style="font-weight: bold">Confirm password</label>
                            <input type="password" class="form-control" id="user-confirmPassword" name="confirmPassword">
                        </div>
                        <div class="form-group">
                            <label for="user-authorities" style="font-weight: bold">Roles:</label>
                            <select class="custom-select" id="user-authorities" name="authorities" multiple></select>
                        </div>
                        <div class="custom-control custom-switch" align="left">
                            <input type="checkbox" class="custom-control-input" id="user-accountNonExpired">
                            <label class="custom-control-label" for="user-accountNonExpired" style="font-weight: bold">Is account non expired</label>
                        </div>
                        <div class="custom-control custom-switch" align="left">
                            <input type="checkbox" class="custom-control-input" id="user-accountNonLocked">
                            <label class="custom-control-label" for="user-accountNonLocked" style="font-weight: bold">Is account non locked</label>
                        </div>
                        <div class="custom-control custom-switch" align="left">
                            <input type="checkbox" class="custom-control-input" id="user-credentialsNonExpired">
                            <label class="custom-control-label" for="user-credentialsNonExpired" style="font-weight: bold">Is credentials non expired</label>
                        </div>
                        <div class="custom-control custom-switch" align="left">
                            <input type="checkbox" class="custom-control-input" id="user-enabled">
                            <label class="custom-control-label" for="user-enabled" style="font-weight: bold">Is enabled</label>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <div th:if="${isAdmin}">
        <script type="text/javascript" src="javascripts/addUser.js"></script>
        <script type="text/javascript" src="javascripts/usersTable.js"></script>
        <script type="text/javascript" src="javascripts/actionUser.js"></script>
    </div>

</body>
</html>