<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        Main page
    </title>

</head>
<body>

    <!--Navigation bar-->
    <nav class="navbar bg-dark" style="color:white">
        <div>
            <b th:text="${authUser.username}"/>
             with roles:
            <th th:each="authority : ${authUser.authorities}" th:text="${authority.name.substring(5).concat(' ')}"/>
        </div>
        <div>
            <form action="/logout">
                <button class="btn btn-outline-danger">
                    LOGOUT
                </button>
            </form>
        </div>
    </nav>

    <!--Buttons and tabs-->
    <div class="row">
        <!--Buttons for tabs "Admin panel" and "User info"-->
        <div class="col-1">
            <div class="list-group">
                <th th:if="${authUser.authorities.contains(authorityAdmin)}">
                    <a class="list-group-item list-group-item-action" data-toggle="list" href="#admin-panel">Admin Panel</a>
                </th>
                    <a class="list-group-item list-group-item-action active" data-toggle="list" href="#user-info">User info</a>
            </div>
        </div>
        <!--Tabs-->
        <div class="col">
            <div class="tab-content">
                <!--Tab "Admin panel"-->
                <div  th:if="${authUser.authorities.contains(authorityAdmin)}" class="tab-pane fade" id="admin-panel">
                    <table class="table">
                        <thead>
                        <tr align="center">
                            <th>ID</th>
                            <th>Username</th>
                            <th>Roles</th>
                            <th>Account non expired</th>
                            <th>Account non locked</th>
                            <th>Credentials non expired</th>
                            <th>Account enabled</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${allUsers}" align="center" valign="down">
                            <td th:text="${user.id}"/>
                            <td th:text="${user.username}"/>
                            <td><div th:each="authority : ${user.authorities}" th:text="${authority.name.substring(5)}"/></td>
                            <td>
                                <form>
                                    <input type="checkbox" disabled th:if="${user.accountNonExpired}" checked>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="checkbox" disabled th:if="${user.accountNonLocked}" checked>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="checkbox" disabled th:if="${user.credentialsNonExpired}" checked>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="checkbox" disabled th:if="${user.isEnabled()}" checked>
                                </form>
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#edit-modal">Edit</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger"  data-toggle="modal" data-target="#delete-modal">Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Tab "User info"-->
                <div th:if="${authUser.authorities.contains(authorityUser)}" class="tab-pane fade show active" id="user-info">
                    <table class="table">
                        <thead>
                        <tr align="center">
                            <th>ID</th>
                            <th>Username</th>
                            <th>Roles</th>
                            <th>Account non expired</th>
                            <th>Account non locked</th>
                            <th>Credentials non expired</th>
                            <th>Account enabled</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr align="center" valign="down">
                            <td th:text="${authUser.id}"/>
                            <td th:text="${authUser.username}"/>
                            <td><div th:each="authority : ${authUser.authorities}" th:text="${authority.name.substring(5)}"/></td>
                            <td>
                                <form>
                                    <input type="checkbox" disabled th:if="${authUser.accountNonExpired}" checked>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="checkbox" disabled th:if="${authUser.accountNonLocked}" checked>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="checkbox" disabled th:if="${authUser.credentialsNonExpired}" checked>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="checkbox" disabled th:if="${authUser.isEnabled()}" checked>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--Modal window "Edit user"-->
    <div class="modal fade" id="edit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>