<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>
        Main page
    </title>

</head>
<body>

    <!--Navigation bar-->
    <nav class="navbar bg-dark" style="color:white">
        <div>
            <b th:text="${authUser.username}"/>
             with roles:
            <th th:each="authority : ${authUser.authorities}" th:text="${authority.name.substring(5).concat(' ')}"/>
        </div>
        <div>
            <form action="/logout">
                <button class="btn btn-outline-danger">
                    LOGOUT
                </button>
            </form>
        </div>
    </nav>

    <!--Buttons "Admin panel", "User info" and their tabs-->
    <div class="row">
        <div class="col-2">
            <div class="list-group">
                <!--Button "Admin panel"-->
                <th th:if="${isAdmin}">
                    <a class="list-group-item active" data-toggle="list" href="#admin-panel">Admin Panel</a>
                </th>
                <!--Button "User info"-->
                <th th:if="${isUser}">
                    <a class="list-group-item" data-toggle="list" href="#user-info-panel">User info</a>
                </th>
            </div>
        </div>
        <!--Tabs-->
        <div class="col" style="background: #eeeeee">
                <div class="tab-content">
                    <!--Tab "Admin panel"-->
                    <div th:if="${isAdmin}" class="tab-pane fade show active" id="admin-panel">
                        <h1 class="card-title">Admin panel</h1>
                        <!-- Buttons for tabs "Users table" & "New user"-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#users-table-tab" aria-selected="true">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#new-user-tab" aria-selected="false">New user</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!--Tab "Users table"-->
                            <div class="tab-pane fade show active" id="users-table-tab">
                                <b><h4 class="card-header">All users</h4></b>
                                <!--Users table-->
                                <div class="card">
                                    <table class="table">
                                        <thead>
                                        <tr align="center">
                                            <th>ID</th>
                                            <th>Username</th>
                                            <th>Roles</th>
                                            <th>Account non expired</th>
                                            <th>Account non locked</th>
                                            <th>Credentials non expired</th>
                                            <th>Account enabled</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${allUsers}" th:object="${user}" align="center">
                                            <td th:text="*{id}"/>
                                            <td th:text="*{username}"/>
                                            <td><div th:each="authority : *{authorities}" th:text="${authority.name.substring(5)}"/></td>
                                            <td><input type="checkbox" disabled th:checked="*{accountNonExpired}"></td>
                                            <td><input type="checkbox" disabled th:checked="*{accountNonLocked}"></td>
                                            <td><input type="checkbox" disabled th:checked="*{credentialsNonExpired}"></td>
                                            <td><input type="checkbox" disabled th:checked="*{enabled}"></td>
                                            <td>
                                                <button type="button" class="btn btn-info"  data-toggle="modal" th:data-target="'#edit-user-' + *{id} + '-modal'">Edit</button>
                                                <!--Modal window "Edit user"-->
                                                <div class="modal fade" th:id="'edit-user-' + *{id} + '-modal'">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Delete user</h5>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:action="@{/admin/edit-user?id={id}(id=*{id})}" method="post">
                                                                    <div class="form-group">
                                                                        <label for="id-edit" style="font-weight: bold">ID</label>
                                                                        <input type="text" class="form-control" id="id-edit" name="id" th:value="${user.id}" disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="username-edit" style="font-weight: bold">Username</label>
                                                                        <input type="text" class="form-control" id="username-edit" name="username" th:value="${user.username}" placeholder="Type username">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="password-edit" style="font-weight: bold">Password</label>
                                                                        <input type="text" class="form-control" id="password-edit"  name="password" value="" placeholder="Type new password if necessary">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="confirmPassword-edit" style="font-weight: bold">Confirm password</label>
                                                                        <input type="text" class="form-control" id="confirmPassword-edit"  name="confirmPassword" value="" placeholder="Re-type new password">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="authorities-edit" style="font-weight: bold">Roles:</label>
                                                                        <select class="custom-select" id="authorities-edit" name="authorities" multiple>Select Roles:
                                                                            <option th:each="authority : ${allAuthorities}" th:value="${{authority}}" th:selected="${user.authorities.contains(authority)}" th:text="${authority.name.substring(5)}"/>
                                                                        </select>
                                                                    </div>
                                                                    <div class="custom-control custom-switch" align="left">
                                                                        <input type="checkbox" class="custom-control-input" id="accountNonExpired-edit" name="accountNonExpired" th:checked="${user.accountNonExpired}">
                                                                        <label class="custom-control-label" for="accountNonExpired-edit" style="font-weight: bold">Is account non expired</label>
                                                                    </div>
                                                                    <div class="custom-control custom-switch" align="left">
                                                                        <input type="checkbox" class="custom-control-input" id="accountNonLocked-edit" name="accountNonLocked" th:checked="${user.accountNonLocked}">
                                                                        <label class="custom-control-label" for="accountNonLocked-edit" style="font-weight: bold">Is account non locked</label>
                                                                    </div>
                                                                    <div class="custom-control custom-switch" align="left">
                                                                        <input type="checkbox" class="custom-control-input" id="credentialsNonExpired-edit" name="credentialsNonExpired" th:checked="${user.credentialsNonExpired}">
                                                                        <label class="custom-control-label" for="credentialsNonExpired-edit" style="font-weight: bold">Is credentials non expired</label>
                                                                    </div>
                                                                    <div class="custom-control custom-switch" align="left">
                                                                        <input type="checkbox" class="custom-control-input" id="enabled-edit" name="enabled" th:checked="${user.enabled}">
                                                                        <label class="custom-control-label" for="enabled-edit" style="font-weight: bold">Is enabled</label>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-info">Edit</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger"  data-toggle="modal" th:data-target="'#delete-user-' + ${user.id} + '-modal'">Delete</button>
                                                <!--Modal window "Delete user"-->
                                                <div class="modal fade" th:id="'delete-user-' + ${user.id} + '-modal'">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Delete user</h5>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form th:action="@{/admin/delete-user?id={id}(id=*{id})}" name="${deleteUser}" method="post">
                                                                    <div class="form-group">
                                                                        <label for="id-delete" style="font-weight: bold">ID</label>
                                                                        <input type="text" class="form-control" id="id-delete" name="id" th:value="*{id}" disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="username-delete" style="font-weight: bold">Username</label>
                                                                        <input type="text" class="form-control" id="username-delete" name="username" th:value="*{username}" disabled>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="authorities-delete" style="font-weight: bold">Roles:</label>
                                                                        <select class="custom-select" id="authorities-delete" multiple disabled>Select Roles:
                                                                            <option th:each="authority : *{authorities}" th:value="${{authority}}" th:text="${authority.name.substring(5)}"/>
                                                                        </select>
                                                                    </div>
                                                                    <div class="custom-control custom-switch" align="left">
                                                                        <input type="checkbox" class="custom-control-input" id="accountNonExpired-delete" th:checked="*{accountNonExpired}" disabled>
                                                                        <label class="custom-control-label" for="accountNonExpired-delete" style="font-weight: bold">Is account non expired</label>
                                                                    </div>
                                                                    <div class="custom-control custom-switch" align="left">
                                                                        <input type="checkbox" class="custom-control-input" id="accountNonLocked-delete" th:checked="*{accountNonLocked}" disabled>
                                                                        <label class="custom-control-label" for="accountNonLocked-delete" style="font-weight: bold">Is account non locked</label>
                                                                    </div>
                                                                    <div class="custom-control custom-switch" align="left">
                                                                        <input type="checkbox" class="custom-control-input" id="credentialsNonExpired-delete" th:checked="*{credentialsNonExpired}" disabled>
                                                                        <label class="custom-control-label" for="credentialsNonExpired-delete" style="font-weight: bold">Is credentials non expired</label>
                                                                    </div>
                                                                    <div class="custom-control custom-switch" align="left">
                                                                        <input type="checkbox" class="custom-control-input" id="enabled-delete" th:checked="*{enabled}" disabled>
                                                                        <label class="custom-control-label" for="enabled-delete" style="font-weight: bold">Is enabled</label>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--Tab "New user"-->
                            <div class="tab-pane fade" id="new-user-tab"  align="center">
                                <b><h4 class="card-header" align="left">Add new user</h4></b>
                                <div class="card col-2" align="center">
                                    <form th:action="@{/admin/add-user}" th:object="${newUser}" method="post">
                                        <div class="form-group">
                                            <label for="username-add" style="font-weight: bold">Username</label>
                                            <input type="text" class="form-control" id="username-add" th:field="*{username}" placeholder="Enter username">
                                        </div>
                                        <div class="form-group">
                                            <label for="password-add" style="font-weight: bold">Password</label>
                                            <input type="password" class="form-control" id="password-add" th:field="*{password}" placeholder="Enter password">
                                        </div>
                                        <div class="form-group">
                                            <label for="confirmPassword-add" style="font-weight: bold">Confirm password</label>
                                            <input type="password" class="form-control" id="confirmPassword-add" th:field="*{confirmPassword}" placeholder="Re-enter password">
                                        </div>
                                        <div class="form-group">
                                            <label for="authorities-add" style="font-weight: bold">Choose roles:</label>
                                            <select class="custom-select" id="authorities-add" th:field="*{authorities}" multiple>Select Roles:
                                                <option th:each="authority : ${allAuthorities}" th:value="${{authority}}" th:text="${authority.name.substring(5)}"/>
                                            </select>
                                        </div>
                                        <div class="custom-control custom-switch" align="left">
                                            <input type="checkbox" class="custom-control-input" id="accountNonExpired-add" th:field="*{accountNonExpired}">
                                            <label class="custom-control-label" for="accountNonExpired-add" style="font-weight: bold">Is account non expired</label>
                                        </div>
                                        <div class="custom-control custom-switch" align="left">
                                            <input type="checkbox" class="custom-control-input" id="accountNonLocked-add" th:field="*{accountNonLocked}">
                                            <label class="custom-control-label" for="accountNonLocked-add" style="font-weight: bold">Is account non locked</label>
                                        </div>
                                        <div class="custom-control custom-switch" align="left">
                                            <input type="checkbox" class="custom-control-input" id="credentialsNonExpired-add" th:field="*{credentialsNonExpired}">
                                            <label class="custom-control-label" for="credentialsNonExpired-add" style="font-weight: bold">Is credentials non expired</label>
                                        </div>
                                        <div class="custom-control custom-switch" align="left">
                                            <input type="checkbox" class="custom-control-input" id="enabled-add" th:field="*{enabled}">
                                            <label class="custom-control-label" for="enabled-add" style="font-weight: bold">Is enabled</label>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-outline-success">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tab "User info"-->
                    <div  th:if="${isUser}" class="tab-pane fade show" id="user-info-panel">
                        <!--User info table-->
                        <div class="card">
                            <table class="table" id="info-user-table">
                                <thead>
                                    <tr align="center">
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>Roles</th>
                                        <th>Account non expired</th>
                                        <th>Account non locked</th>
                                        <th>Credentials non expired</th>
                                        <th>Account enabled</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr align="center" th:object="${authUser}">
                                        <td th:text="*{id}"/>
                                        <td th:text="*{username}"/>
                                        <td><div th:each="authority : *{authorities}" th:text="${authority.name.substring(5)}"/></td>
                                        <td>
                                            <form>
                                                <input type="checkbox" disabled th:if="*{accountNonExpired}" checked>
                                            </form>
                                        </td>
                                        <td>
                                            <form>
                                                <input type="checkbox" disabled th:if="*{accountNonLocked}" checked>
                                            </form>
                                        </td>
                                        <td>
                                            <form>
                                                <input type="checkbox" disabled th:if="*{credentialsNonExpired}" checked>
                                            </form>
                                        </td>
                                        <td>
                                            <form>
                                                <input type="checkbox" disabled th:if="*{enabled}" checked>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>


</body>
</html>