<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>

<body>

    <a th:href="@{/logout}">LOGOUT</a>

    <table border="0">
        <tr>
            <td>
                <table border="1">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Roles</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${allUsers}">
                            <td th:utext="${user.id}"></td>
                            <td th:text="${user.username}"></td>
                            <td><div th:each="role : ${user.roles}" th:text="*{role.getAuthority()}"/></td>
                            <td><a th:href="@{delete?id={id}(id=${user.id})}">Delete</a> / <a th:href="@{edit?id={id}(id=${user.id})}">Edit</a> / <a th:href="@{/user/info?id={id}(id=${user.id})}">Info</a></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table align="center" border="0">
                    <td><a th:href="@{/admin/delete?id=0}">CLEAR DATA BASE</a></td>
                    <td><a th:href="@{/admin/add}">ADD NEW USER</a></td>
                </table>
            </td>
        </tr>

    </table>

</body>
</html>