<!DOCTYPE html>
<html>
<head>
    <title>Использование функции $.ajax()</title>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        $( document ).ready(function(){
            $( "button" ).click(function(){ // задаем функцию при нажатиии на элемент <button>
                $.ajax({
                    method: "GET", // метод HTTP, используемый для запроса
                    url: "/test", // строка, содержащая URL адрес, на который отправляется запрос
                    success: [function ( msg ) { // функции обратного вызова, которые вызываются если AJAX запрос выполнится успешно (если несколько функций, то необходимо помещать их в массив)
                        $( "p" ).text( "User saved: " + msg ); // добавляем текстовую информацию и данные возвращенные с сервера
                    },
                        function () { // вызов второй функции из массива
                            console.log( "next function" );
                        }],
                    statusCode: {
                        200: function () { // выполнить функцию если код ответа HTTP 200
                            console.log( "Ok" );
                        }
                    }
                })
            });
        });
    </script>
</head>
<body>
<button>Клик</button>
<p></p>
</body>
</html>